name: Workingdir & shell
on: [push]
defaults:
  run:
    shell: bash


jobs:
  display-wd-info:
    runs-on: self-hosted
    steps:
      - name: Display working directory & files
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
  # dispaly-wd-windows-info:
  #   runs-on: self-hosted
  #   defaults:
  #     run:
  #       shell: pwsh
    # steps:
    #   - name: Dispaly working directory & list of files
    #     run: |
    #       Get-Location
    #       dir
    #       echo $env:GITHUB_SHA
    #       echo $env:GITHUB_REPOSITORY
    #       echo $env:GITHUB_WORKSPACE
    #   - name: Python Shell
    #     shell: python
    #     run: |
    #         import platform 
    #         print(platform.processor())
            
        
